@font-face {
  font-family: Norse-Bold;
  src: url("./Norse-Bold.otf");
}

:root {
  --normal-text: rgb(0, 0, 0);
  --input-text: rgb(185, 185, 185);
  --background-1: rgb(245, 243, 243);
  --background-2: rgb(252, 252, 252);
  --button-color: #596D48
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-flow: row nowrap;
}

/* Left Side */

.left {
  background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 40vw;
  color: white;
}

.logo-banner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  margin-top: 20vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: max(4rem, 20vh);
}

.logo-image {
  width: max(2rem, 12vh);
  height: auto;
}

.logo-text {
  font-family: "Norse-Bold";
  font-size: max(2rem, 12vh);
}

/* Right Side */

.right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100vh;
  width: 60vw;
  background-color: var(--background-1);
  font-weight: 600;
}

.right-top {
  color: black;
  margin: 0vh 3vh 0vh 3vh;
}

.p1 {
  margin-top: 1vh;
}

.p2 {
  margin: 3vh 0vh 5vh 0vh;
}

.form-title {
  font-size: 1rem;
  width: 100%;
}

.right-middle {
  display: flex;
  flex-flow: row wrap;
  background-color: var(--background-2);
  gap: 1rem;
  padding: 2vh 3vh 3vh 3vh;
}

.input {
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.7rem;
}

input {
  width: 15rem;
  outline: none;
  border-style: solid;
  border-radius: 0.25rem;
  border-width: 0.01rem;
  padding: 0.2rem;
}

input:focus {
  border-color: rgb(67, 167, 255);
}

label {
  color: rgb(50, 50, 50);
}

button {
  outline: none;
  border: none;
  border-radius: 0.3rem;
  border-width: 0.01rem;
  padding: 0.2rem;
  background-color: var(--button-color);
  color: white;
  padding: 1vh 3vh 1vh 3vh;
  margin: 3vh 0vh 2vh 3vh;
}

.right-bottom {
  color: black;
  font-weight: 400;
  margin-left: 3vh;
}

p>a {
  text-decoration: none;
  color: var(--button-color);
  font-weight: bold;
}