@font-face {
  font-family: Norse-Bold;
  src: url("./Norse-Bold.otf");
}

:root {
  --text: rgb(0, 0, 0);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-flow: row nowrap;
}

/* Left Side */

.left {
  background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 40vw;
  color: white;
}

.logo-banner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  margin-top: 20vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: max(4rem, 20vh);
}

.logo-image {
  width: max(2rem, 12vh);
  height: auto;
}

.logo-text {
  font-family: "Norse-Bold";
  font-size: max(2rem, 12vh);
}

/* Right Side */

.right {
  height: 100vh;
  width: 60vw;
}